header,
main,
footer{
    width: 800px;
    margin-left: calc(50% - 400px);
}

header{
    margin-top: 100px;
    background-color: lightsalmon;
}

main{
    background-color: lightcoral;
}

footer{
    background-color: lightblue;
}